.meme{
  position: relative;
  max-width: 50%;
  margin: 0 auto;
  color:white;
  font-weight: 900; 
  text-shadow: 2px 2px 2px black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.meme-img{
  width: 100%;
}


.meme > .top{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.meme > .bottom{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center
}